/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.headers{
  padding: 40px 20px;
  background-color: #422057FF;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
}

.headers img{
  width: 10%;
  margin-right: 6px;
  height: 100%;
  justify-content: left;
}

.headers h2{
  margin-right: auto;
  color: #FCF6F5FF;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.headers h4{
  font-size: 12px;
  font-weight: 400;

}

.navbar{
  position: relative;
}

.navlinks{
  display: none;
  list-style: none;
}

.navlinks.show{
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 10%;
}

.toggle-btn{
  cursor: pointer;
  display: block;
}

.navicon{
  margin-right: 10px;
}